@import "../../../../styles/main.scss";

.home_chat_box {
  height: calc(100vh - 100px);
  background-color: $white;
  width: 100%;
  padding-top: rem(5);

  @include breakpoint(medium) {
    width: calc(100% - 320px);
  }

  @include breakpoint(large) {
    width: calc(100% - 360px);
  }

  button {
    margin-left: rem(5);

    @include breakpoint(medium) {
      display: none;
    }
  }
}
