@import "../../styles/main.scss";

.sidebar {
  background-color: $blue;
  width: rem(420);
  height: calc(100vh - rem(100));

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: rem(32) 0;
  }

  &__list {
    padding-left: rem(24);
    @include breakpoint(large) {
      padding-left: rem(32);
    }
  }

  &__profile {
    padding-left: rem(24);
    @include breakpoint(large) {
      padding-left: rem(32);
    }
    border-top: rem(8) solid $white;
    padding-top: rem(24);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: rem(8);
    color: $white;
  }
}
