@import "../../../styles/main.scss";

.user_list_item {
  font-family: $poppins;
  cursor: pointer;
  color: $black;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.primary_user_list_item {
  padding: rem(24) rem(28);
  border: rem(2) solid rgba($black, 0.2);
  border-radius: rem(10);
}

.primary_user_list_item:hover {
  background-color: rgba($blue, 0.2);
}

.secondary_user_list_item {
  background-color: $white;
  padding: rem(18) rem(24);
  border-radius: rem(8);
}

.secondary_user_list_item:hover {
  background-color: $blue;
  color: $white;
}
